body {
    text-align: center;
    background-color: cornflowerblue
}

h2 {
    color: azure
}
/* img {
    transform: rotate(180deg)  
} */

a {
    color: blanchedalmond
}

video {
    transform: rotate(90deg)
}